<nav class="my-3">
  <ul class="pagination justify-content-center">
    <li class="page-item page-link disabled"><%= link_to '前へ', '/book/book1.html', class: '' %></li>
    <li class="page-item"><%= link_to '1', '/book/book1.html', class: 'page-link' %></li>
    <li class="page-item"><%= link_to '2', '/book/book2.html', class: 'page-link' %></li>
    <li class="page-item page-link"><%= link_to 'Book一覧', '/book', class: '' %></li>
    <li class="page-item disabled"><%= link_to '3', '/book/book3.html', class: 'page-link' %></li>
    <li class="page-item disabled"><%= link_to '4', '/book/book4.html', class: 'page-link' %></li>
    <li class="page-item disabled"><%= link_to '次へ', '/book/book5.html', class: 'page-link' %></li>
  </ul>
</nav>
