<nav class="my-3">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link" href="#">前へ</a></li>
    <li class="page-item"><%= link_to '1', '/essay/essay1.html', class: 'page-link' %></li>
    <li class="page-item"><%= link_to '2', '/essay/essay2.html', class: 'page-link' %></li>
    <li class="page-item page-link"><%= link_to 'Essay一覧', '/essay', class: '' %></li>
    <li class="page-item"><%= link_to '3', '/essay/essay3.html', class: 'page-link' %></li>
    <li class="page-item"><%= link_to '4', '/essay/essay4.html', class: 'page-link' %></li>
    <li class="page-item"><%= link_to '次へ', '/essay/essay5.html', class: 'page-link' %></li>
  </ul>
</nav>

