<nav class="my-3">
  <ul class="pagination justify-content-center">
    <li class="page-item page-link disabled"><%= link_to '前へ', '/essay/essay4.html', class: '' %></li>
    <li class="page-item"><%= link_to '5', '/essay/essay5.html', class: 'page-link' %></li>
    <li class="page-item"><%= link_to '6', '/essay/essay6.html', class: 'page-link' %></li>
    <li class="page-item page-link"><%= link_to 'Essay一覧', '/essay', class: '' %></li>
    <li class="page-item disabled"><%= link_to '7', '/essay/essay7.html', class: 'page-link' %></li>
    <li class="page-item disabled"><%= link_to '8', '/essay/essay8.html', class: 'page-link' %></li>
    <li class="page-item disabled"><%= link_to '次へ', '/essay/essay9.html', class: 'page-link' %></li>
  </ul>
</nav>
